<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telechargement dalle lidar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>  
        body{
            padding: 0;
            margin: 0;
        }
        .container {  
        width: 100%;  
        height: 100vh;  
        display: flex;  
        justify-content: center;  
        align-items: center;  
        }  
 
        </style>  
</head>
<body>
    <div class="container">  
    <form action="/download/lidar/shp" method="post">
        <button><i class="fa fa-download"></i></button>
    </form>
</div>  
      
</body>
</html>
